
{% extends "scholarsys/../base/base.html" %}
{% load  staticfiles %}
{% block content %}
<body>
	<div class="container">
		<div class="main-header">
			<div class="inner-side">

{#                menu#}
				<div class="header">
					<div class="logo"><h1>Scholarship Online System</h1></div>
                    <div class="head-top">
						<div class="top-menu">
						<span class="menu"></span>
							<ul>
								<li class="active"><a href={% url 'home' %}><span>Profile</span></a></li>

                                {% if  request.user.id %}
                                    <li><a href={% url 'achievement' %}><span>Achievement</span></a></li>
                                    <li><a href={% url 'scholarship' %}><span>Scholarship</span></a></li>
                                    {% if  request.user.is_staff %}
                                        <li><a href={% url 'generate_Report' %}><span>Report</span></a></li>
								    {%  endif %}
                                    <li><a href={% url 'logout' %}><span>Logout</span></a></li>
                                {% else%}
                                    <li><a href={% url 'signup' %}><span>SignUp</span></a></li>
                                    <li><a href={% url 'login' %}><span>Login</span></a></li>
								{%  endif %}


							</ul>

						</div>
							 <script>
							 $("span.menu").click(function(){
							 $(".top-menu ul").slideToggle("slow" , function(){
							 });
							 });
							 </script>
						<!-- //script for menu -->

						<div class="clearfix"></div>
					</div>

				</div>


{#            content#}
                <div class="interior-grids">

					<div class="col-md-6 interior-grid">
						<h3>Info</h3>
						<p>
                            Name:{{ request.user.username }}<br>
                            {% if request.user.is_staff is True %}
                                User Type: Staff<br>
                                Staff ID: {{ staff.staff_id }}<br>
                            {% else %}
                                User Type: Student<br>
                                Student ID:{{ stu.stu_id }}<br>
                            {% endif %}
                        </p>
					</div>

					<div class="col-md-3 interior-grid">
                    {% if request.user.is_staff is False %}
						<h3>Recent Achievement</h3>
						<p>
                            {% if achi %}
                                {% for i in achi %}
                                    Category:{{ i.category }} | Name:{{ i.name }}<br>
                                {% endfor %}
                            {% else %}
                                No Archievement<br>
                            {% endif %}
                        </p>
                    {% endif %}
					</div>

					<div class="col-md-3 interior-grid">
                    {% if request.user.is_staff is False %}
						<h3>Current Scholarship</h3>
                        <p>
                            {% if scho %}
                                {% for i in scho %}
                                    Category:{{ i.category }} | Name:{{ i.bonus }}<br>
                                {% endfor %}
                            {% else %}
                                No Scholarship Available<br>
                            {% endif %}
                        </p>
                    {% endif %}
					</div>
					<div class="clearfix"></div>
				</div>

			</div>
		</div>
				<!--start-footer-section-->
				<div class="footer-section">
					<div class="footer-top">
						<p>zhuyinheng@gmail.com</p>
					</div>
				</div>
				<!--end-footer-section-->
			</div>
		</div>
	</div>
	 </body>
</html>
{% endblock %}